@foreach (var item in Model)
{

    <tr>
        <td>@Html.DisplayFor(modelItem => item.p_name </td>
        <td>@Html.DisplayFor(modelItem => item.p_price </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.p_picture)" height="40" width="60" />
        </td>
        <td>@Html.DisplayFor(modelItem => item.p_description </td>
        <td>@Html.DisplayFor(modelItem => item.p_category </td>
        <td @Html.ActionLink("Edit", "Edit", new { id = item.p_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.p_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.p_id }) |

   </td>

    </tr>

